<h1>Movie Titles Including <%= @searchterm %> </h1>



<table>
  <thead>
    <tr>
      <th width="350" align="left">Title</th>
      <th width="350" align="left">Description</th>
      <th width="150" align="left">Year Released</th>
      <th width="70" </th>
      <th width="70" </th>
    </tr>
  </thead>


  <tbody>
  	<% @movies.each do |movie| %>
	    <tr>
	      <td><%= link_to movie.title, movie_path(movie) %></td>
	      <td><%= movie.description %></td>
	      <td><%= movie.year_released %></td>
	     
	    </tr>
	<% end %>
  </tbody>
</table>


<h3>
<%= link_to 'Return to index', movies_path %>
</h3>