<H1>Edit</h1>

<%= form_for @student do |f| %>

<div class="large-4 columns">
	<div>
		<%= f.text_field :fname %>
	</div>

	<div>
		<%= f.text_field :lname %>
	</div>


<%= f.submit %> 

</div>
<br /><br />
<%= link_to 'Delete this record', @student, method: :delete  %>

<% end %>


