<h1>Student List: </h1>

<table>
  <thead>
    <tr>
      <th width="150" align="left">First Name</th>
      <th width="150" align="left">Last Name</th>
      <th width="100"></th>
      <th width="50"></th>
      <th width="150"></th>
    </tr>
  </thead>
  <tbody>
	<% @students.each do |student| %>
	    <tr>
	      <td><%= student.fname %></td>
	      <td><%= student.lname %></td>
	      <td><%= link_to 'User Page', student_path(student) %></td>
	      <td><%= link_to 'Edit', edit_student_path(student) %></td>
	      <td><%= link_to 'Delete', student, method: :delete  %></td>
	    </tr>
	<% end %>
  </tbody>
</table>

<br />
<h3>
<%= link_to 'Add a new student', new_student_path(@student) %>
</h3>